.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;

  &-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    background-color: rgba(0, 0, 0, 0.05);

    &-brand {
      font-size: 3rem;
    }

    @media (max-width: 900px) {
      padding: 24px 32px;
      &-brand {
        font-size: 24px;
      }
    }
  }

  &-dark-mode {
    display: flex;
    align-items: center;

    &-icon {
      margin: 0 .8rem;
    }
  }

  &-add-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-modal {
    &-items {
      display: flex;
      flex-direction: column;
    }
  }

  &-weather {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      @media (max-width: 900px) {
        font-size: 24px !important;
      }
    }

    &-container {
      display: flex;
      gap: 24px;

      margin: 32px 0 !important;

      &-data {
        font-size: 18px !important;
        margin-top: 24px !important;

      }

      &-btn {

        @media (max-width: 600px) {
          font-size: 12px !important;
        }
      }
    }
  }


  @media (max-width: 900px) {
    margin: 32px;
  }
}
